.teachers
  
  .teacher
    @extend .clearfix
    width: 940px
    margin-bottom: 20px
    box-sizing: border-box
    padding: 30px
    background: #fff
    border: 1px solid rgba(206, 220, 228, .4)
    border-radius: 2px

    &:last-child
      margin-bottom: 0px

    .content
      float: left
      width: 428px
      position: relative
      padding-left: 110px
      box-sizing: border-box

      .avatar
        position: absolute
        top: 0px
        left: 0px
        width: 90px
        height: 90px
        background: #eee
        border-radius: 50px

        img
          width: 90px
          height: 90px
          border-radius: 50px

      .name
        font-family: "OpenSans-Semibold"
        margin-bottom: 5px

      .position
        font-size: 12px
        margin-bottom: 20px

      .about
        font-family: "OpenSans-Light"
        font-size: 14px
        line-height: 20px

    .diploms
      float: left
      width: 428px
      margin-left: 20px

      .diplom
        background: asset-url("icon_diplom_16x20.png") no-repeat
        background-size: 16px 20px
        background-position: 0px 50%
        box-sizing: border-box
        padding-left: 31px
        min-height: 20px
        line-height: 20px
        margin-bottom: 10px

        &:last-child
          margin-bottom: 0px

        a
          font-size: 13px
          text-decoration: underline